::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(245, 245, 245);
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0;
}

::-webkit-scrollbar{
  width: 5px;
}


//main-content

.right-content{
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 281px);
  height: auto;
  min-height: 100%;
  min-width: 1280px;
  overflow-y: hidden;
  margin-left: 279px;


  //header

  .header{
    width: calc( 100% - 279px);
   margin-left: 279px;
    height: 120px;
    background-color: rgb(250, 250, 250);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 250;

    /*&__search{
      float: left;
      display: block;
      padding: 46px 5px 0 50px;
      max-width: 420px;
      width: 25vw;
      position: fixed;
      left: 280px;
    }*/

    &__navigation{
      display: inline-block;
      float: right;
      padding-right: 50px;
      padding-top: 46px;
      position: relative;

      .menu{
        display: inline-block;
        overflow: hidden;
        height: 24px;
        vertical-align: middle;
        margin-right: 110px;

        li{
          padding: 0 10px;

          .flexMenu-popup{

            li{
              display: block;
              padding: 0;
              @include transition(all .5s);

              &:hover{
                a{
                  color: $stack-color;
                }
              }

              a{
                font-family: $Averta;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: rgb(0,0,0);
                text-decoration: none;
              }
            }
          }

          a{
            font-family: $Averta;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(0,0,0);
            text-decoration: none;
            @include transition(all .5s);
          }

          &.active, &:hover{
            a{
              color: $stack-color;
            }
          }
        }
      }

      .user{
        position: absolute;
        top: 41px;
        right: 50px;
        @include transition(all .5s);

        &__name{
          display: inline-block;
          vertical-align: middle;
          font-family: $Averta;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: rgb(0,0,0);
          margin-right: 10px;
          cursor: pointer;
        }
        &__photo{
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          width: 33px;
          height: 33px;
        }
      }
      .user:hover{

        .user__name{
          color: $stack-color;
          @include transition(all .5s);
        }
        .user__photo{
          @include box-shadow(5px 5px 20px 0 rgba(0, 0, 0, 0.2));
          @include transition(all .5s);
        }
      }
    }
  }

  .offers{
    width: 100%;
    height: auto;
    padding: 170px 50px;
    position: relative;

    .heading{
      color: rgb(0,0,0);
      font-family: $Averta;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 35px;

      &:before{
        content: '';
        position: absolute;
        top: 35px;
        left: 0;
        width: 36px;
        height: 2px;
        background-color: $stack-color;
      }
    }

    &__container{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-left: -10px;
      align-items: stretch;
      -webkit-align-items: stretch;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    &__card{
      width: 420px;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-align-items: stretch;
      align-content: stretch;
      padding: 10px;
      position: relative;
      cursor: pointer;

    }

    .card{
      -webkit-box-flex: 1;
      flex-grow: 1;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 23px 23px 19px;

      .evaluation{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 32px;
        height: 32px;
        z-index: 50;

        &-bad {
          background: url("../img/icon-bad.png") 0 0 no-repeat;
        }

        &-ok {
          background: url("../img/icon-ok.png") 0 0 no-repeat;
        }
      }

      &__title {
        color: rgb(0, 0, 0);
        font-family: $Myriad;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }
      &__price {
        color: rgba(0, 0, 0, 0.66);
        font-family: $Averta;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 18px;
      }
      &__content {
        color: rgb(0, 0, 0);
        font-family: $Myriad;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 20px;
      }
    }

    .card-overlay {
      display: block;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      align-content: stretch;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      color: white;
      background-color: white;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      padding: 24px 24px 20px;
      border-radius: 5px;
      box-shadow: none;
      z-index: 10;
      overflow: hidden;
      transition: background-color .1s, top .1s, right .1s, bottom .1s, left .1s, padding .1s, visibility .2s, opacity .2s, z-index .2s;

      &__rating{
        position: absolute;
        top: 30px;
        right: 115px;
        display: block;

        a{
          text-decoration: none;
          width: 16px;
          height: 15px;
          margin-right: 10px;
          color: rgba(255, 255, 255, 0.66);
        }
        .like-active, .like:hover{
          color: rgba(255, 255, 255, 1);
        }
      }

      &__title {
        color: rgb(255, 255, 255);
        font-family: $Myriad;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }
      &__price {
        color: rgba(255, 255, 255, 0.66);
        font-family: $Averta;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 18px;
      }
      &__content {
        color: rgb(255, 255, 255);
        font-family: $Myriad;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 20px;
      }
      &__controls{
        .views, .contract, .name{
          color: rgba(255, 255, 255, 0.66);
          font-family: $Averta;
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          margin-right: 20px;
          @include transition(all .5s);

          .fa-eye, .fa-folder, .fa-user{
            margin-right: 10px;
          }

          &:hover{
            color: rgba(255, 255, 255, 1);
          }
        }

        .today{
          display: block;
          color: rgba(255, 255, 255, 0.66);
          font-family: $Averta;
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          margin-right: 20px;
          @include transition(all .5s);

          .fa-calendar{
            margin-right: 10px;
          }

          &:hover{
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      &__select{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;

        img{
          display: block;
          position: absolute;
          transform: translate(-50%,-50%);
          left: 50%;
          top: 50%;
        }

        &:hover{
          img{
            left: 53%;
            @include transition(all .5s);
          }
        }
      }
    }

    &__card .card:hover .card-overlay {
      bottom: auto;
      min-height: calc(100% + 20px);
      visibility: visible;
      opacity: 1;
      background-color: $stack-color;
      max-height: 1000px;
      top: -10px;
      right: -110px;
      left: -10px;
      padding: 33px 133px 29px 33px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      z-index: 200;
      transition: background-color .2s, top .2s, right .2s, bottom .2s, left .2s, padding .2s, visibility .1s, opacity .1s, z-index .1s;
    }

    .pagination__container{
      display: block;
      text-align: center;
      max-width: 420px;
      width: 100%;
      margin-top: 50px;

      .prev, .next{
        color: rgb(172, 172, 172);
        font-family: $Averta;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;

        &:hover{
          text-decoration: none;
          color: $stack-color;
        }

        .fa-arrow-left:before {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
        }
        .fa-arrow-right:before {
          display: inline-block;
          vertical-align: top;
          margin-left: 5px;
        }
      }
      .prev{
        float: left;
      }
      .next{
        float: right;
      }
      .pagination{
        list-style: none;
        display: inline-block;
        padding: 0;

        li{
          display: inline;
          text-align: center;

          a{
            float: left;
            display: block;
            font-size: 12px;
            font-family: $Roboto;
            font-weight: 500;
            text-decoration: none;
            padding: 0 5px;
            color: rgb(172, 172, 172);
            margin: 0 2px;
            line-height: 1.5;

            &.active, &:hover{
              cursor: pointer;
              outline: none;
              color: $stack-color;
            }
          }
        }
      }
    }
  }
}

//aside

aside.left-sidebar{
  display: inline-block;
  vertical-align: top;
  width: 279px;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  position: fixed;
  overflow-y: auto;

  .header__logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 279px;
    background-color: rgb(245, 245, 245);
    display: block;
    height: 120px;
    line-height: 120px;
    padding-left: 50px;
    z-index: 500;

    .icon-logo:before{
      margin-right: 20px;
    }
    .logotype{
      color: rgb(4, 4, 4);
      font-family: $Myriad;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
    }
  }

  .filter{
    margin-top: 170px;
    padding-left: 50px;


    &__options{
      display: block;
      margin-bottom: 64px;
    }
    &__heading{
      display: block;
      color: rgb(0, 0, 0);
      font-family: $Averta;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 45px;

      &:before{
        content: '';
        position: absolute;
        top: 35px;
        left: 0;
        width: 36px;
        height: 2px;
        background-color: $stack-color;
      }

      .curenty{
        display: inline-block;
        font-family: $Averta;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        text-transform: uppercase;
        color: rgb(191, 191, 191);
        margin-left: 10px;

      }
    }

    &__check{
      display: block;
      margin-bottom: 5px;
    }
    .checkbox {
      display: none;
    }

    .checkbox-custom {
      position: relative;
      width: 12px;
      height: 12px;
      border: 2px solid rgb(217, 217, 217);
      border-radius: 3px;
      @include transition(all .5s);
    }
    .checkbox-custom,
    .label {
      display: inline-block;
      vertical-align: middle;
      color: #000000;
      font-family: $Averta;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-right: 5px;
      cursor: pointer;
    }
    .checkbox:checked + .checkbox-custom::before {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background: $stack-color;
      border-radius: 2px;
    }

    .irs {
      max-width: 190px;
    }

    .irs-slider {
      top: 30px;
      width: 18px;
      height: 18px;
      border: 5px solid $stack-color;
      background: rgb(255, 255, 255);
      background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 100%);
      border-radius: 18px;
      box-shadow: 0 1px 1px rgba(1, 2, 1, 0.05);
      cursor: pointer;
    }
    .irs-line {
      height: 12px;
      top: 33px;
      background: rgba(0, 0, 0, 0.05);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) -50%, rgba(0, 0, 0, 0.05) 150%);
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 6px;
    }
    .irs-bar {
      height: 12px;
      top: 33px;
      border-top: 1px solid $stack-color;
      opacity: 0.4;
      border-bottom: 1px solid $stack-color;
      background: $stack-color;
      background: linear-gradient(to top, $stack-color 0%, $stack-color 100%);
    }
    .sl-wrap {
      margin-top: -35px;
    }
    .irs-from, .irs-to, .irs-single {
      top: 55px;
      background: transparent;
      color: rgb(0, 0, 0);
      font-family: $Averta;
      font-size: 12px;
      font-weight: 400;
    }

    ul{
      .user{
        display: block;
        margin-bottom: 15px;
        cursor: pointer;
        @include transition(all .5s);

        &__photo{
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          @include transition(all .5s);
        }

        &__name{
          display: inline-block;
          vertical-align: middle;
          font-weight: 400;
          color: rgb(0, 0, 0);
          font-family: $Myriad;
          font-size: 14px;
          text-decoration: none;
          line-height: 25px;
          @include transition(all .5s);

          .rating{
            display: block;
            color: $stack-color;
            font-family: $Averta;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
          }
        }

        &:hover{
          .user__name{
            color: $stack-color;
            @include transition(all .5s);
          }
          .user__photo{
            @include box-shadow(5px 5px 20px 0 rgba(0, 0, 0, 0.2));
            @include transition(all .5s);
          }
        }
      }
    }

    .view-all{
      display: block;
      color: $stack-color;
      font-family: $Averta;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 50px;
      @include transition(all .5s);

      img{
        margin-left: 10px;
      }

      &:hover{
        color: darken($stack-color, 25%);
      }
    }
  }

}