<header class="header">
    <!--<div class="header__search">
        <form class="form-search">
            <input name="search" type="search" id="search" value="Search..." placeholder="" required="" onblur="if(this.value=='') this.value='Search...';" onfocus="if(this.value=='Search...') this.value='';">
            <input type="submit" name="sub-search" value="">
        </form>
    </div>-->
    <div class="header__navigation">
        <ul class="flex menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">Scammers</a></li>
        </ul>
        <div class="user">
            <span class="user__name">Alex G.</span>
            <img class="user__photo" src="../img/userpic.png" alt="pic">
        </div>
    </div>
</header>