<header class="header">
    <div class="header__navigation">
        <ul class="flex menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">Scammers</a></li>
        </ul>
        <div class="user">
            <span class="user__name">Alex G.</span>
            <img class="user__photo" src="../img/userpic.png" alt="pic">
        </div>
    </div>
</header>