/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/roboto */
@import "http://fonts.fontstorage.com/import/roboto.css";
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Averta-Regular';
  src: url("../fonts/Averta-Regular/Averta-Regular.woff") format("woff"), url("../fonts/Averta-Regular/Averta-Regular.ttf") format("truetype"), url("../fonts/Averta-Regular/Averta-Regular.svg#Averta-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Bold';
  src: url("../fonts/Averta-Bold/Averta-Bold.eot");
  src: url("../fonts/Averta-Bold/Averta-Bold.woff2") format("woff2"), url("../fonts/Averta-Bold/Averta-Bold.woff") format("woff"), url("../fonts/Averta-Bold/Averta-Bold.ttf") format("truetype"), url("../fonts/Averta-Bold/Averta-Bold.svg#Averta-Bold") format("svg"), url("../fonts/Averta-Bold/Averta-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta-Semibold';
  src: url("../fonts/Averta-Semibold/Averta-Semibold.eot");
  src: url("../fonts/Averta-Semibold/Averta-Semibold.woff2") format("woff2"), url("../fonts/Averta-Semibold/Averta-Semibold.woff") format("woff"), url("../fonts/Averta-Semibold/Averta-Semibold.ttf") format("truetype"), url("../fonts/Averta-Semibold/Averta-Semibold.svg#Averta-Semibold") format("svg"), url("../fonts/Averta-Semibold/Averta-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h5 {
  margin: 0; }

ul > li {
  list-style: none;
  display: inline-block; }

ul {
  padding: 0;
  margin: 0; }

ul {
  margin-bottom: 0; }

a:hover, a:focus {
  text-decoration: none;
  outline: medium none; }

/*a {
    @include links(orange, blue, yellow, teal);
}*/
input {
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none 0; }

a.disabled {
  pointer-events: none;
  cursor: default; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.transform-x-y {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }

.transY {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute; }

.transX {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute; }

.icon {
  font-size: 32px; }

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 1.25em 1em; }

.no-svg .icon:before {
  background-image: url("../img/sprite.png"); }

.icon.icon-logo:before {
  background-position: 0em 0em;
  width: 1.25em;
  height: 1em; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: whitesmoke; }

::-webkit-scrollbar-thumb:hover {
  background-color: whitesmoke; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0; }

::-webkit-scrollbar {
  width: 5px; }

.right-content {
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 281px);
  height: auto;
  min-height: 100%;
  min-width: 1280px;
  overflow-y: hidden;
  margin-left: 279px; }
  .right-content .header {
    width: calc( 100% - 279px);
    margin-left: 279px;
    height: 120px;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 250;
    /*&__search{
      float: left;
      display: block;
      padding: 46px 5px 0 50px;
      max-width: 420px;
      width: 25vw;
      position: fixed;
      left: 280px;
    }*/ }
    .right-content .header__navigation {
      display: inline-block;
      float: right;
      padding-right: 50px;
      padding-top: 46px;
      position: relative; }
      .right-content .header__navigation .menu {
        display: inline-block;
        overflow: hidden;
        height: 24px;
        vertical-align: middle;
        margin-right: 110px; }
        .right-content .header__navigation .menu li {
          padding: 0 10px; }
          .right-content .header__navigation .menu li .flexMenu-popup li {
            display: block;
            padding: 0;
            transition: all 0.5s; }
            .right-content .header__navigation .menu li .flexMenu-popup li:hover a {
              color: #5ea6ce; }
            .right-content .header__navigation .menu li .flexMenu-popup li a {
              font-family: "Averta-Regular", sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              color: black;
              text-decoration: none; }
          .right-content .header__navigation .menu li a {
            font-family: "Averta-Regular", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: black;
            text-decoration: none;
            transition: all 0.5s; }
          .right-content .header__navigation .menu li.active a, .right-content .header__navigation .menu li:hover a {
            color: #5ea6ce; }
      .right-content .header__navigation .user {
        position: absolute;
        top: 41px;
        right: 50px;
        transition: all 0.5s; }
        .right-content .header__navigation .user__name {
          display: inline-block;
          vertical-align: middle;
          font-family: "Averta-Regular", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: black;
          margin-right: 10px;
          cursor: pointer; }
        .right-content .header__navigation .user__photo {
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          width: 33px;
          height: 33px; }
      .right-content .header__navigation .user:hover .user__name {
        color: #5ea6ce;
        transition: all 0.5s; }
      .right-content .header__navigation .user:hover .user__photo {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.5s; }
  .right-content .offers {
    width: 100%;
    height: auto;
    padding: 170px 50px;
    position: relative; }
    .right-content .offers .heading {
      color: black;
      font-family: "Averta-Regular", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 35px; }
      .right-content .offers .heading:before {
        content: '';
        position: absolute;
        top: 35px;
        left: 0;
        width: 36px;
        height: 2px;
        background-color: #5ea6ce; }
    .right-content .offers__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-left: -10px;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-align-items: stretch;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .right-content .offers__card {
      width: 420px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-align-items: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
      padding: 10px;
      position: relative;
      cursor: pointer; }
    .right-content .offers .card {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 23px 23px 19px; }
      .right-content .offers .card .evaluation {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 32px;
        height: 32px;
        z-index: 50; }
        .right-content .offers .card .evaluation-bad {
          background: url("../img/icon-bad.png") 0 0 no-repeat; }
        .right-content .offers .card .evaluation-ok {
          background: url("../img/icon-ok.png") 0 0 no-repeat; }
      .right-content .offers .card__title {
        color: black;
        font-family: "MyriadProRegular", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px; }
      .right-content .offers .card__price {
        color: rgba(0, 0, 0, 0.66);
        font-family: "Averta-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 18px; }
      .right-content .offers .card__content {
        color: black;
        font-family: "MyriadProRegular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 20px; }
    .right-content .offers .card-overlay {
      display: block;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      color: white;
      background-color: white;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      padding: 24px 24px 20px;
      border-radius: 5px;
      box-shadow: none;
      z-index: 10;
      overflow: hidden;
      transition: background-color .1s, top .1s, right .1s, bottom .1s, left .1s, padding .1s, visibility .2s, opacity .2s, z-index .2s; }
      .right-content .offers .card-overlay__rating {
        position: absolute;
        top: 30px;
        right: 115px;
        display: block; }
        .right-content .offers .card-overlay__rating a {
          text-decoration: none;
          width: 16px;
          height: 15px;
          margin-right: 10px;
          color: rgba(255, 255, 255, 0.66); }
        .right-content .offers .card-overlay__rating .like-active, .right-content .offers .card-overlay__rating .like:hover {
          color: white; }
      .right-content .offers .card-overlay__title {
        color: white;
        font-family: "MyriadProRegular", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px; }
      .right-content .offers .card-overlay__price {
        color: rgba(255, 255, 255, 0.66);
        font-family: "Averta-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 18px; }
      .right-content .offers .card-overlay__content {
        color: white;
        font-family: "MyriadProRegular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 20px; }
      .right-content .offers .card-overlay__controls .views, .right-content .offers .card-overlay__controls .contract, .right-content .offers .card-overlay__controls .name {
        color: rgba(255, 255, 255, 0.66);
        font-family: "Averta-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        margin-right: 20px;
        transition: all 0.5s; }
        .right-content .offers .card-overlay__controls .views .fa-eye, .right-content .offers .card-overlay__controls .views .fa-folder, .right-content .offers .card-overlay__controls .views .fa-user, .right-content .offers .card-overlay__controls .contract .fa-eye, .right-content .offers .card-overlay__controls .contract .fa-folder, .right-content .offers .card-overlay__controls .contract .fa-user, .right-content .offers .card-overlay__controls .name .fa-eye, .right-content .offers .card-overlay__controls .name .fa-folder, .right-content .offers .card-overlay__controls .name .fa-user {
          margin-right: 10px; }
        .right-content .offers .card-overlay__controls .views:hover, .right-content .offers .card-overlay__controls .contract:hover, .right-content .offers .card-overlay__controls .name:hover {
          color: white; }
      .right-content .offers .card-overlay__controls .today {
        display: block;
        color: rgba(255, 255, 255, 0.66);
        font-family: "Averta-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        margin-right: 20px;
        transition: all 0.5s; }
        .right-content .offers .card-overlay__controls .today .fa-calendar {
          margin-right: 10px; }
        .right-content .offers .card-overlay__controls .today:hover {
          color: white; }
      .right-content .offers .card-overlay__select {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer; }
        .right-content .offers .card-overlay__select img {
          display: block;
          position: absolute;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          left: 50%;
          top: 50%; }
        .right-content .offers .card-overlay__select:hover img {
          left: 53%;
          transition: all 0.5s; }
    .right-content .offers__card .card:hover .card-overlay {
      bottom: auto;
      min-height: calc(100% + 20px);
      visibility: visible;
      opacity: 1;
      background-color: #5ea6ce;
      max-height: 1000px;
      top: -10px;
      right: -110px;
      left: -10px;
      padding: 33px 133px 29px 33px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      z-index: 200;
      transition: background-color .2s, top .2s, right .2s, bottom .2s, left .2s, padding .2s, visibility .1s, opacity .1s, z-index .1s; }
    .right-content .offers .pagination__container {
      display: block;
      text-align: center;
      max-width: 420px;
      width: 100%;
      margin-top: 50px; }
      .right-content .offers .pagination__container .prev, .right-content .offers .pagination__container .next {
        color: #acacac;
        font-family: "Averta-Regular", sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle; }
        .right-content .offers .pagination__container .prev:hover, .right-content .offers .pagination__container .next:hover {
          text-decoration: none;
          color: #5ea6ce; }
        .right-content .offers .pagination__container .prev .fa-arrow-left:before, .right-content .offers .pagination__container .next .fa-arrow-left:before {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px; }
        .right-content .offers .pagination__container .prev .fa-arrow-right:before, .right-content .offers .pagination__container .next .fa-arrow-right:before {
          display: inline-block;
          vertical-align: top;
          margin-left: 5px; }
      .right-content .offers .pagination__container .prev {
        float: left; }
      .right-content .offers .pagination__container .next {
        float: right; }
      .right-content .offers .pagination__container .pagination {
        list-style: none;
        display: inline-block;
        padding: 0; }
        .right-content .offers .pagination__container .pagination li {
          display: inline;
          text-align: center; }
          .right-content .offers .pagination__container .pagination li a {
            float: left;
            display: block;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            text-decoration: none;
            padding: 0 5px;
            color: #acacac;
            margin: 0 2px;
            line-height: 1.5; }
            .right-content .offers .pagination__container .pagination li a.active, .right-content .offers .pagination__container .pagination li a:hover {
              cursor: pointer;
              outline: none;
              color: #5ea6ce; }

aside.left-sidebar {
  display: inline-block;
  vertical-align: top;
  width: 279px;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  position: fixed;
  overflow-y: auto; }
  aside.left-sidebar .header__logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 279px;
    background-color: whitesmoke;
    display: block;
    height: 120px;
    line-height: 120px;
    padding-left: 50px;
    z-index: 500; }
    aside.left-sidebar .header__logo .icon-logo:before {
      margin-right: 20px; }
    aside.left-sidebar .header__logo .logotype {
      color: #040404;
      font-family: "MyriadProRegular", sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none; }
  aside.left-sidebar .filter {
    margin-top: 170px;
    padding-left: 50px; }
    aside.left-sidebar .filter__options {
      display: block;
      margin-bottom: 64px; }
    aside.left-sidebar .filter__heading {
      display: block;
      color: black;
      font-family: "Averta-Regular", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 45px; }
      aside.left-sidebar .filter__heading:before {
        content: '';
        position: absolute;
        top: 35px;
        left: 0;
        width: 36px;
        height: 2px;
        background-color: #5ea6ce; }
      aside.left-sidebar .filter__heading .curenty {
        display: inline-block;
        font-family: "Averta-Regular", sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        text-transform: uppercase;
        color: #bfbfbf;
        margin-left: 10px; }
    aside.left-sidebar .filter__check {
      display: block;
      margin-bottom: 5px; }
    aside.left-sidebar .filter .checkbox {
      display: none; }
    aside.left-sidebar .filter .checkbox-custom {
      position: relative;
      width: 12px;
      height: 12px;
      border: 2px solid #d9d9d9;
      border-radius: 3px;
      transition: all 0.5s; }
    aside.left-sidebar .filter .checkbox-custom,
    aside.left-sidebar .filter .label {
      display: inline-block;
      vertical-align: middle;
      color: #000000;
      font-family: "Averta-Regular", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-right: 5px;
      cursor: pointer; }
    aside.left-sidebar .filter .checkbox:checked + .checkbox-custom::before {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background: #5ea6ce;
      border-radius: 2px; }
    aside.left-sidebar .filter .irs {
      max-width: 190px; }
    aside.left-sidebar .filter .irs-slider {
      top: 30px;
      width: 18px;
      height: 18px;
      border: 5px solid #5ea6ce;
      background: white;
      background: linear-gradient(to bottom, white 0%, white 20%, white 100%);
      border-radius: 18px;
      box-shadow: 0 1px 1px rgba(1, 2, 1, 0.05);
      cursor: pointer; }
    aside.left-sidebar .filter .irs-line {
      height: 12px;
      top: 33px;
      background: rgba(0, 0, 0, 0.05);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) -50%, rgba(0, 0, 0, 0.05) 150%);
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 6px; }
    aside.left-sidebar .filter .irs-bar {
      height: 12px;
      top: 33px;
      border-top: 1px solid #5ea6ce;
      opacity: 0.4;
      border-bottom: 1px solid #5ea6ce;
      background: #5ea6ce;
      background: linear-gradient(to top, #5ea6ce 0%, #5ea6ce 100%); }
    aside.left-sidebar .filter .sl-wrap {
      margin-top: -35px; }
    aside.left-sidebar .filter .irs-from, aside.left-sidebar .filter .irs-to, aside.left-sidebar .filter .irs-single {
      top: 55px;
      background: transparent;
      color: black;
      font-family: "Averta-Regular", sans-serif;
      font-size: 12px;
      font-weight: 400; }
    aside.left-sidebar .filter ul .user {
      display: block;
      margin-bottom: 15px;
      cursor: pointer;
      transition: all 0.5s; }
      aside.left-sidebar .filter ul .user__photo {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        transition: all 0.5s; }
      aside.left-sidebar .filter ul .user__name {
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
        color: black;
        font-family: "MyriadProRegular", sans-serif;
        font-size: 14px;
        text-decoration: none;
        line-height: 25px;
        transition: all 0.5s; }
        aside.left-sidebar .filter ul .user__name .rating {
          display: block;
          color: #5ea6ce;
          font-family: "Averta-Regular", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px; }
      aside.left-sidebar .filter ul .user:hover .user__name {
        color: #5ea6ce;
        transition: all 0.5s; }
      aside.left-sidebar .filter ul .user:hover .user__photo {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.5s; }
    aside.left-sidebar .filter .view-all {
      display: block;
      color: #5ea6ce;
      font-family: "Averta-Regular", sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 50px;
      transition: all 0.5s; }
      aside.left-sidebar .filter .view-all img {
        margin-left: 10px; }
      aside.left-sidebar .filter .view-all:hover {
        color: #286384; }

.form-search {
  width: 100%;
  max-width: 365px;
  height: auto;
  position: relative; }

input[name='search'] {
  display: block;
  width: 100%;
  max-width: 335px;
  height: 28px;
  line-height: 28px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0 25px 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Averta-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400; }

input[type='submit'] {
  position: absolute;
  display: block;
  top: 4px;
  right: 0;
  width: 18px;
  height: 18px;
  border: none;
  background: url("../img/ic-search.png") no-repeat; }
